.p1 {color: #009900;
      font-family: "Roboto Condensed", Times;
      font-weight: weight: 26;
      font-style: normal;
    } 
.p2 {color: #330099;
    font-family: "Lora", serif;
    font-weight: weight: 26;
    font-style: normal;
  }
.p3 {color: #CC9900;
    font-family: "Meow Script", serif;
    font-weight: 600;
    font-style: normal;
}